@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Esquema de cuerda elástica;
  src: url(../assets/fonts/BungeeOutline-Regular.ttf);
}
h1, h2, h3, h4, h5, h6 {
  font-family: Esquema de cuerda elástica, sans-serif;
  font-weight: bold;
  color: rgb(255, 79, 202);
}

p, a, li, span, input, button, table, form, nav, ul {
  font-family: "PT Sans", sans-serif;
  color: rgb(153, 153, 153);
}

.main__activity button {
  font-size: 35px;
  font-style: italic;
  width: 16%;
  height: 20%;
  color: rgb(216, 255, 108);
  padding: 10px 20px;
  background-color: rgb(216, 255, 108);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 2%;
  margin-bottom: 5%;
}

.header__index img {
  width: 30%;
}

body {
  background-image: url(../assets/img/Clases/detrasDeClases2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main__index {
  display: grid;
  width: 100%;
  grid-template-rows: auto auto auto 140px;
}

.main__title {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main__title img {
  width: 25%;
}
.main__title h1 {
  font-size: 90px;
  background-color: rgba(0, 0, 0, 0.5960784314);
  color: rgb(255, 79, 202);
  padding: 3% 10% 3% 10%;
}

.main__section2 {
  background-color: #131518;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}
.main__section2 p {
  font-size: 35px;
  line-height: 1.7;
}
.main__section2 button {
  font-size: 35px;
  font-style: italic;
  width: 300px;
  height: 80px;
  color: rgb(216, 255, 108);
  padding: 10px 20px;
  background-color: rgb(216, 255, 108);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 2%;
  margin-bottom: 5%;
}
.main__section2 .main__activity h2 {
  font-size: 40px;
}
.main__section2 .main__fixed {
  position: fixed;
  right: 30px;
  top: 300px;
  border-radius: 100%;
  z-index: 3;
}
.main__section2 .main__fixed img {
  width: 90px;
}

.main__footer {
  background-color: rgba(255, 79, 202, 0.658);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "footer__redes footer__iconos" "footer__copyright footer__copyright";
  justify-content: space-between;
}
.main__footer h3 {
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: #131518;
}
.main__footer p {
  color: #131518;
  font-size: 15px;
}
.main__footer .main__redes {
  grid-area: footer__redes;
}
.main__footer .main__iconos {
  grid-area: footer__iconos;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.main__footer li {
  list-style: none;
}
.main__footer .main__copyright {
  grid-area: footer__copyright;
  justify-content: end;
}

.main__activity {
  display: grid;
  width: 100%;
  grid-template-rows: auto auto auto auto;
}
.main__activity .section__activity {
  background-color: #131518;
}
.main__activity .class__container {
  display: grid;
  height: auto;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1f 1f;
  row-gap: 30px;
  column-gap: 60px;
  margin-bottom: 5%;
  margin-left: 3%;
  margin-right: 3%;
}
.main__activity .class__container .articleGym {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 2px 5px 7px 3px;
  margin: 20% 0 0 3%;
}
.main__activity .class__container .articleGym h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.main__activity .class__container .articleGym button {
  font-size: 20px;
  font-style: italic;
  width: 150px;
  height: 50px;
  color: rgb(216, 255, 108);
  background-color: rgb(216, 255, 108);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 2%;
  margin-bottom: 5%;
}
.main__activity .class__container .articleGym img {
  width: 350px;
  height: 400px;
  border-radius: 5%;
  margin-bottom: 20px;
}
.main__activity .class__container .articleGym p {
  font-size: 20px;
}
.main__activity .class__container .articleGym:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.main__activity .class__container .articleGym:not(hover) {
  transition: transform 0.3s ease-in-out;
}
.main__activity .class__container .main__fixed {
  position: fixed;
  right: 30px;
  top: 300px;
  border-radius: 100%;
  z-index: 3;
}
.main__activity .class__container .main__fixed img {
  width: 90px;
}

.section__plans {
  background-color: #131518;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}
.section__plans .planes {
  margin: 7% 0 7% 0;
  width: 700px;
  padding: 20px;
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
  box-shadow: 0 6px 12px rgb(156, 10, 108);
}
.section__plans .planes .payment-details p {
  font-size: 24px;
  padding: 2%;
}
.section__plans .planes .payment-options p {
  font-size: 22px;
  padding: 2%;
  padding-bottom: 5%;
}
.section__plans .planes .fomraDePagos h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}
.section__plans .planes h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}
.section__plans .planes ul {
  list-style-type: none;
  padding: 0;
}
.section__plans .planes li {
  border-bottom: 3px solid rgb(156, 10, 108);
  padding: 10px 0;
}
.section__plans .planes li:last-child {
  border-bottom: none;
}
.section__plans .planes .payment-plan {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 30px;
}
.section__plans .planes .payment-details {
  margin-left: 20px;
}
.section__plans .fomraDePagos {
  margin: 7% 0 7% 0;
  width: 700px;
  padding: 20px;
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
  box-shadow: 0 6px 12px rgb(156, 10, 108);
}
.section__plans .fomraDePagos h2 {
  text-align: center;
  font-size: 40px;
  margin: 20px 0 40px 0;
}
.section__plans .fomraDePagos .payment-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.section__plans .fomraDePagos .payment-option {
  margin: 30px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  font-size: 22px;
}
.section__plans .fomraDePagos .payment-option h3 {
  font-size: 27px;
  font-family: Arial, sans-serif;
  padding: 3%;
}
.section__plans .fomraDePagos .payment-option:hover {
  background-color: rgba(177, 55, 151, 0.6980392157);
}

/*# sourceMappingURL=main.css.map */
