@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Esquema de cuerda elástica;
  src: url(../assets/fonts/BungeeOutline-Regular.ttf);
}
h1, h2, h3, h4, h5, h6 {
  font-family: Esquema de cuerda elástica, sans-serif;
  font-weight: bold;
  color: rgb(255, 79, 202);
}

p, a, li, span, input, button, table, form, nav, ul {
  font-family: "PT Sans", sans-serif;
  color: rgb(153, 153, 153);
}

.btn1 {
  margin: 50px auto 100px auto;
  font-style: italic;
  width: 200px;
  height: 80px;
  background-color: rgb(216, 255, 108);
  border-radius: 50px;
}
.btn1 a {
  text-decoration: none;
  color: #131518;
  font-size: 30px;
}

.header__index img {
  width: 30%;
}

body {
  background-image: url(assets/img/Clases/detrasDeClases2.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main__index {
  display: grid;
  width: 100%;
  grid-template-rows: auto auto 1000px auto;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .main__index {
    grid-template-rows: auto auto 800px auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main__index {
    grid-template-rows: auto auto 800px auto;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .main__index {
    grid-template-rows: auto auto 750px auto;
  }
}
@media (min-width: 360px) and (max-width: 480px) {
  .main__index {
    grid-template-rows: auto auto 800px auto;
  }
}

.main__title {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main__title img {
  width: 500px;
}
.main__title h1 {
  font-size: 90px;
  background-color: rgba(0, 0, 0, 0.5960784314);
  color: rgb(255, 79, 202);
  padding: 3% 10% 3% 10%;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .main__title img {
    width: 400px;
  }
  .main__title h1 {
    font-size: 80px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main__title img {
    width: 400px;
  }
  .main__title h1 {
    font-size: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .main__title img {
    width: 200px;
  }
  .main__title h1 {
    font-size: 50px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .main__title img {
    width: 300px;
  }
  .main__title h1 {
    font-size: 40px;
  }
}
@media (min-width: 480px) and (max-width: 768px) and (orientation: landscape) {
  .main__title img {
    width: 150px;
  }
  .main__title h1 {
    font-size: 35px;
  }
}
@media (min-width: 360px) and (max-width: 480px) {
  .main__title img {
    width: 280px;
  }
  .main__title h1 {
    font-size: 27px;
  }
}

.main__section2 {
  background-color: #131518;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}
.main__section2 p {
  font-size: 35px;
  line-height: 1.7;
  padding: 0 20px 0 20px;
}
.main__section2 .main__activity h2 {
  font-size: 50px;
}
.main__section2 .main__fixed {
  position: fixed;
  right: 30px;
  top: 300px;
  border-radius: 100%;
  z-index: 3;
  filter: invert(50%);
}
.main__section2 .main__fixed img {
  width: 90px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .main__section2 p {
    font-size: 25px;
  }
  .main__section2 .btn1 {
    width: 200px;
  }
  .main__section2 .btn1 a {
    font-size: 27px;
  }
  .main__section2 .main__activity h2 {
    font-size: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main__section2 p {
    font-size: 20px;
  }
  .main__section2 .btn1 {
    width: 160px;
    height: 60px;
  }
  .main__section2 .btn1 a {
    font-size: 22px;
  }
  .main__section2 .main__activity h2 {
    font-size: 30px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .main__section2 p {
    font-size: 13px;
  }
  .main__section2 .btn1 {
    width: 120px;
    height: 50px;
  }
  .main__section2 .btn1 a {
    font-size: 17px;
  }
  .main__section2 .main__activity h2 {
    margin-top: 40px;
    font-size: 24px;
  }
}
@media (min-width: 360px) and (max-width: 480px) {
  .main__section2 p {
    font-size: 10px;
  }
  .main__section2 .btn1 {
    width: 100px;
    height: 40px;
  }
  .main__section2 .btn1 a {
    font-size: 13px;
  }
  .main__section2 .main__activity h2 {
    margin-top: 40px;
    font-size: 20px;
  }
  .main__section2 .main__fixed img {
    width: 60px;
  }
}

.main__footer a {
  text-decoration: none;
  font-size: 17px;
}
.main__footer p {
  font-size: 17px;
}
.main__footer a:hover {
  color: #0D6EFD !important;
}
.main__footer i {
  font-size: 25px;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
.main__activity {
  display: grid;
  width: 100%;
  grid-template-rows: auto auto auto auto;
}
.main__activity .section__activity {
  background-color: #131518;
}
.main__activity .class__container {
  display: grid;
  height: auto;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1f 1f;
  row-gap: 30px;
  column-gap: 60px;
  margin-bottom: 5%;
  margin-left: 3%;
  margin-right: 3%;
}
.main__activity .class__container .articleGym {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 2px 5px 7px 3px;
  margin: 20% 0 0 3%;
}
.main__activity .class__container .articleGym h2 {
  font-size: 40px;
  margin: 10px 0 20px 0;
}
.main__activity .class__container .articleGym button {
  font-size: 20px;
  font-style: italic;
  width: 150px;
  height: 50px;
  color: rgb(216, 255, 108);
  background-color: rgb(216, 255, 108);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 2%;
  margin-bottom: 5%;
}
.main__activity .class__container .articleGym img {
  width: 350px;
  height: 400px;
  border-radius: 5%;
  margin-bottom: 20px;
}
.main__activity .class__container .articleGym p {
  font-size: 20px;
  padding: 0 8px 0 8px;
}
.main__activity .class__container .articleGym:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.main__activity .class__container .articleGym:not(hover) {
  transition: transform 0.3s ease-in-out;
}
.main__activity .class__container .articleGym {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
.main__activity .class__container .main__fixed {
  position: fixed;
  right: 30px;
  top: 300px;
  border-radius: 100%;
  z-index: 3;
  filter: invert(50%);
}
.main__activity .class__container .main__fixed img {
  width: 90px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .main__activity .class__container {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main__activity .class__container {
    grid-template-columns: auto auto;
  }
  .main__activity .class__container .articleGym h2 {
    font-size: 27px;
  }
  .main__activity .class__container .articleGym img {
    width: 250px;
    height: 300px;
  }
  .main__activity .class__container .articleGym p {
    font-size: 15px;
  }
  .main__activity .class__container .articleGym button {
    font-size: 15px;
    width: 100px;
    height: 40px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .main__activity .class__container {
    grid-template-columns: auto;
  }
  .main__activity .class__container .articleGym h2 {
    font-size: 27px;
  }
  .main__activity .class__container .articleGym img {
    width: 300px;
    height: 350px;
  }
  .main__activity .class__container .articleGym p {
    font-size: 17px;
  }
  .main__activity .class__container .articleGym button {
    font-size: 20px;
    width: 130px;
    height: 50px;
  }
  .main__activity .class__container .articleGym {
    margin: 20px 20px 20px 20px;
  }
}
@media (min-width: 360px) and (max-width: 480px) {
  .main__activity .class__container {
    grid-template-columns: auto;
  }
  .main__activity .class__container .articleGym h2 {
    font-size: 20px;
  }
  .main__activity .class__container .articleGym img {
    width: 250px;
    height: 300px;
  }
  .main__activity .class__container .articleGym p {
    font-size: 13px;
  }
  .main__activity .class__container .articleGym button {
    font-size: 15px;
    width: 80px;
    height: 40px;
  }
  .main__activity .class__container .articleGym {
    margin: 40px 20px 40px 20px;
  }
  .main__activity .class__container .main__fixed img {
    width: 60px;
  }
}

.section__plans {
  background-color: #131518;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}
.section__plans .planes {
  margin: 7% 0 7% 0;
  width: 700px;
  padding: 20px;
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
  box-shadow: 0 6px 12px rgb(156, 10, 108);
}
.section__plans .planes .payment-details p {
  font-size: 24px;
  padding: 2%;
}
.section__plans .planes h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}
.section__plans .planes ul {
  list-style-type: none;
  padding: 0;
}
.section__plans .planes li {
  border-bottom: 3px solid rgb(156, 10, 108);
  padding: 10px 0;
}
.section__plans .planes li:last-child {
  border-bottom: none;
}
.section__plans .planes .payment-plan {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 30px;
}
.section__plans .planes .payment-details {
  margin-left: 20px;
}
.section__plans .fomraDePagos {
  margin: 7% 0 7% 0;
  width: 700px;
  padding: 20px;
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
  box-shadow: 0 6px 12px rgb(156, 10, 108);
}
.section__plans .fomraDePagos h2 {
  text-align: center;
  font-size: 40px;
  margin: 20px 0 40px 0;
}
.section__plans .fomraDePagos .payment-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.section__plans .fomraDePagos .payment-options p {
  font-size: 24px;
  padding: 2%;
  padding-bottom: 5%;
}
.section__plans .fomraDePagos .payment-option {
  margin: 30px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  font-size: 22px;
}
.section__plans .fomraDePagos .payment-option h3 {
  font-size: 27px;
  font-family: Arial, sans-serif;
  padding: 3%;
}
.section__plans .fomraDePagos .payment-option:hover {
  background-color: rgba(177, 55, 151, 0.6980392157);
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .section__plans .planes {
    width: 450px;
    height: 800px;
  }
  .section__plans .planes .payment-details p {
    font-size: 18px;
  }
  .section__plans .planes h2 {
    font-size: 30px;
  }
  .section__plans .planes .payment-plan {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .section__plans .planes .payment-details {
    margin-left: 20px;
  }
  .section__plans .fomraDePagos {
    width: 450px;
    height: 800px;
  }
  .section__plans .fomraDePagos .payment-options p {
    font-size: 18px;
  }
  .section__plans .fomraDePagos h2 {
    font-size: 30px;
  }
  .section__plans .fomraDePagos .payment-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .section__plans .fomraDePagos .payment-option {
    margin: 10px;
    font-size: 22px;
  }
  .section__plans .fomraDePagos .payment-option h3 {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section__plans {
    grid-template-columns: auto;
    justify-content: center;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .section__plans {
    grid-template-columns: auto;
  }
  .section__plans .planes {
    width: 430px;
    height: 800px;
  }
  .section__plans .planes .payment-details p {
    font-size: 18px;
  }
  .section__plans .planes h2 {
    font-size: 30px;
  }
  .section__plans .planes .payment-plan {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .section__plans .planes .payment-details {
    margin-left: 20px;
  }
  .section__plans .fomraDePagos {
    width: 430px;
    height: 800px;
  }
  .section__plans .fomraDePagos .payment-options p {
    font-size: 18px;
  }
  .section__plans .fomraDePagos h2 {
    font-size: 30px;
  }
  .section__plans .fomraDePagos .payment-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .section__plans .fomraDePagos .payment-option {
    margin: 10px;
    font-size: 22px;
  }
  .section__plans .fomraDePagos .payment-option h3 {
    font-size: 24px;
  }
}
@media (min-width: 360px) and (max-width: 480px) {
  .section__plans {
    grid-template-columns: auto;
  }
  .section__plans .planes {
    width: 330px;
    height: 600px;
  }
  .section__plans .planes .payment-details p {
    font-size: 12px;
  }
  .section__plans .planes h2 {
    font-size: 20px;
  }
  .section__plans .planes .payment-plan {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .section__plans .planes .payment-details {
    margin-left: 20px;
  }
  .section__plans .fomraDePagos {
    width: 330px;
    height: 600px;
  }
  .section__plans .fomraDePagos .payment-options p {
    font-size: 12px;
  }
  .section__plans .fomraDePagos h2 {
    font-size: 20px;
  }
  .section__plans .fomraDePagos .payment-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .section__plans .fomraDePagos .payment-option {
    margin: 10px;
    font-size: 10px;
  }
  .section__plans .fomraDePagos .payment-option h3 {
    font-size: 15px;
  }
}

.main__register {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-area: auto;
  background-color: rgba(0, 0, 0, 0.5960784314);
}
.main__register .form__register {
  padding: 100px 0 100px 0;
}
.main__register .form__register .form-group label {
  font-size: 30px;
}
.main__register .form__register button {
  width: 200px;
  height: 60px;
  font-size: 20px;
}
.main__register .container h1 {
  font-size: 50px;
  font-weight: bold;
}
@media (min-width: 480px) and (max-width: 768px) {
  .main__register .form__register .form-group label {
    font-size: 20px;
  }
  .main__register .form__register button {
    font-size: 17px;
  }
  .main__register .container h1 {
    font-size: 30px;
  }
}
@media (min-width: 360px) and (max-width: 480px) {
  .main__register .form__register .form-group label {
    font-size: 20px;
  }
  .main__register .form__register button {
    width: 200px;
    height: 60px;
    font-size: 17px;
  }
  .main__register .container h1 {
    font-size: 25px;
  }
}

.fixed {
  position: fixed;
  right: 30px;
  top: 300px;
  border-radius: 100%;
  z-index: 3;
  filter: invert(50%);
}
.fixed img {
  width: 90px;
}
@media (min-width: 360px) and (max-width: 480px) {
  .fixed img {
    width: 60px;
  }
}

.ubicacion iframe {
  width: 100%;
  filter: invert(100%);
}

.section__about2 {
  background-color: #131518;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "promociones promociones" "profesores preguntasFrecuentes";
  justify-content: space-between;
}
.section__about2 .profesores {
  grid-area: profesores;
  display: inline-block;
}
.section__about2 .profesores ul {
  list-style-type: none;
  padding: 0;
}
.section__about2 .profesores li {
  border-bottom: 3px solid rgba(255, 79, 202, 0.281);
  padding: 20px;
}
.section__about2 .profesores h2 {
  font-size: 50px;
  text-align: center;
}
.section__about2 .profesores h3 {
  font-size: 28px;
  font-family: Arial, sans-serif;
}
.section__about2 .profesores p {
  font-size: 17px;
}
.section__about2 .promociones {
  grid-area: promociones;
  margin: 2% auto;
  padding: 20px;
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
  box-shadow: 0 6px 12px rgb(216, 255, 108);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__about2 .promociones h2 {
  font-size: 50px;
  color: rgb(216, 255, 108);
  margin-bottom: 5%;
}
.section__about2 .promociones .promoItem {
  margin-bottom: 20px;
  border-bottom: 3px solid rgb(216, 255, 108);
  padding-bottom: 20px;
}
.section__about2 .promociones .promoItemTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 2%;
  color: rgb(216, 255, 108);
  font-family: Arial, sans-serif;
}
.section__about2 .promociones .promoItemDescription {
  font-size: 17px;
  line-height: 1.5;
}
.section__about2 .preguntasFrecuentes {
  grid-area: preguntasFrecuentes;
  margin-left: 2%;
  margin-bottom: 2%;
  font-size: 20px;
}
.section__about2 .preguntasFrecuentes h2 {
  font-size: 50px;
}
.section__about2 .preguntasFrecuentes h3 {
  font-family: Arial, sans-serif;
  font-size: 28px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.section__about2 .preguntasFrecuentes p {
  font-size: 17px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .section__about2 .promociones h2 {
    font-size: 40px;
  }
  .section__about2 .promociones .promoItemTitle {
    font-size: 20px;
  }
  .section__about2 .promociones .promoItemDescription {
    font-size: 14px;
    line-height: 1.5;
  }
  .section__about2 .profesores h2 {
    font-size: 40px;
  }
  .section__about2 .profesores h3 {
    font-size: 20px;
  }
  .section__about2 .profesores p {
    font-size: 14px;
  }
  .section__about2 .preguntasFrecuentes h2 {
    font-size: 40px;
  }
  .section__about2 .preguntasFrecuentes h3 {
    font-size: 20px;
  }
  .section__about2 .preguntasFrecuentes p {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section__about2 .promociones h2 {
    font-size: 30px;
  }
  .section__about2 .profesores h2 {
    font-size: 30px;
  }
  .section__about2 .preguntasFrecuentes h2 {
    font-size: 27px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .section__about2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "promociones" "profesores" "preguntasFrecuentes";
    justify-content: center;
  }
  .section__about2 .promociones {
    grid-area: promociones;
    margin-bottom: 30px;
  }
  .section__about2 .promociones h2 {
    font-size: 30px;
  }
  .section__about2 .promociones .promoItemTitle {
    font-size: 20px;
  }
  .section__about2 .promociones .promoItemDescription {
    font-size: 14px;
    line-height: 1.5;
  }
  .section__about2 .profesores {
    grid-area: profesores;
  }
  .section__about2 .profesores h2 {
    font-size: 30px;
  }
  .section__about2 .profesores h3 {
    font-size: 20px;
  }
  .section__about2 .profesores p {
    font-size: 14px;
  }
  .section__about2 .preguntasFrecuentes {
    grid-area: preguntasFrecuentes;
  }
  .section__about2 .preguntasFrecuentes h2 {
    font-size: 30px;
  }
  .section__about2 .preguntasFrecuentes h3 {
    font-size: 20px;
  }
  .section__about2 .preguntasFrecuentes p {
    font-size: 14px;
  }
}
@media (min-width: 360px) and (max-width: 480px) {
  .section__about2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "promociones" "profesores" "preguntasFrecuentes";
    justify-content: center;
  }
  .section__about2 .promociones {
    grid-area: promociones;
    margin-bottom: 30px;
  }
  .section__about2 .promociones h2 {
    font-family: Arial, sans-serif;
    font-size: 20px;
  }
  .section__about2 .promociones .promoItemTitle {
    font-size: 15px;
  }
  .section__about2 .promociones .promoItemDescription {
    font-size: 12px;
    line-height: 1;
  }
  .section__about2 .profesores {
    grid-area: profesores;
  }
  .section__about2 .profesores h2 {
    font-family: Arial, sans-serif;
    font-size: 20px;
  }
  .section__about2 .profesores h3 {
    font-size: 15px;
  }
  .section__about2 .profesores p {
    font-size: 12px;
  }
  .section__about2 .preguntasFrecuentes {
    grid-area: preguntasFrecuentes;
  }
  .section__about2 .preguntasFrecuentes h2 {
    font-family: Arial, sans-serif;
    font-size: 20px;
  }
  .section__about2 .preguntasFrecuentes h3 {
    font-size: 15px;
  }
  .section__about2 .preguntasFrecuentes p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=main.css.map */
