body{
    background-image: url(../assets/img/Clases/detrasDeClases2.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}