.btn1{
    margin: 50px auto 100px auto;
    font-style: italic;
    width: 200px;
    height: 80px;
    background-color: $color-secondary;
    border-radius: 50px;
    a{
        text-decoration: none;
        color: $color-primary;
        font-size: 30px;
    }
}

