.btn1{
    margin: 50px 0 100px 0;
    width: 200px;
    height: 80px;
    background-color: $color-secondary;
    border-radius: 50px;
    span{
        font-size: 30px;
        color: $color-primary;
        cursor: pointer;
    }
}

