@mixin s {
    @media (min-width: 360px) and (max-width:480px){
        @content;
    }
}

@mixin m {
    @media (min-width: 480px) and (max-width:768px){
        @content;
    }
}

@mixin ml {
    @media (min-width: 480px) and (max-width:768px) and (orientation: landscape){
        @content;
    }
}

@mixin l {
    @media (min-width: 768px) and (max-width:1024px){
        @content;
    }
}

@mixin ll {
    @media (min-width: 768px) and (max-width:1024px) and (orientation: landscape){
        @content;
    }
}

@mixin xl {
    @media (min-width: 1024px) and (max-width:1440px){
        @content;
    }
}

.main__index{
    display: grid;
    width: 100%;
    grid-template-rows: auto auto 1000px auto;
    @include xl{
        grid-template-rows: auto auto 800px auto;
    }
    @include l{
        grid-template-rows: auto auto 800px auto;
    }
    @include m{
        grid-template-rows: auto auto 750px auto;
    }
    @include s{
        grid-template-rows: auto auto 800px auto;
    }
}

.main__title{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    img{
        width: 500px;
    }
    h1{
        font-size: 90px;
        background-color: $background-title;
        color: $color-text;
        padding: 3% 10% 3% 10%;
    }
    @include xl{
        img{
            width: 400px;
        }
        h1{
            font-size: 80px;
        }
    }
    @include l{
        img{
            width: 400px;
        }
        h1{
            font-size: 60px;
        }
    }
    @include ll{
        img{
            width: 200px;
        }
        h1{
            font-size: 50px;
        }
    }
    @include m{
        img{
            width: 300px;
        }
        h1{
            font-size: 40px;
        }
    }
    @include ml{
        img{
            width: 150px;
        }
        h1{
            font-size: 35px;
        }
    }
    @include s{
        img{
            width: 280px;
        }
        h1{
            font-size: 27px;
        }
    }
}

.main__section2{
    background-color: $color-primary;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    p{
        font-size: 35px;
        line-height: 1.7;
        padding: 0 20px 0 20px;
    }
    .main__activity h2{
        font-size: 50px;
    }
    .main__fixed{
        position: fixed;
        right: 30px;
        top: 300px;
        border-radius: 100%;
        z-index: 3;
        img{
            width: 90px;
        }
        filter: invert(50%);
    }
    @include xl{
        p{
            font-size: 25px;
        }
        .btn1{
            width: 200px;
            a{
                font-size: 27px;
            }
        }
        .main__activity h2{
            font-size: 40px;
        }
    }
    @include l{
        p{
            font-size: 20px;
        }
        .btn1{
            width: 160px;
            height: 60px;
            a{
                font-size: 22px;
            }
        }
        .main__activity h2{
            font-size: 30px;
        }
    }
    @include m{
        p{
            font-size: 13px;
        }
        .btn1{
            width: 120px;
            height: 50px;
            a{
                font-size: 17px;
            }
        }
        .main__activity h2{
            margin-top: 40px;
            font-size: 24px;
        }
    }
    @include s{
        p{
            font-size: 10px;
        }
        .btn1{
            width: 100px;
            height: 40px;
            a{
                font-size: 13px;
            }
        }
        .main__activity h2{
            margin-top: 40px;
            font-size: 20px;
        }
        .main__fixed img{
            width: 60px;
        }
    }     
}
.main__footer{
    a{
        text-decoration: none;
        font-size: 17px;
    }
    p{
        font-size: 17px;
    }
    a:hover{
        color: #0D6EFD !important;
    }
    i{
        font-size: 25px;
    }
}