@mixin s {
    @media (min-width: 360px) and (max-width:480px){
        @content;
    }
}

@mixin m {
    @media (min-width: 480px) and (max-width:768px){
        @content;
    }
}

@mixin l {
    @media (min-width: 768px) and (max-width:1024px){
        @content;
    }
}

@mixin xl {
    @media (min-width: 1024px) and (max-width:1440px){
        @content;
    }
}

@keyframes show {
    from{   
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

.main__activity{
    display: grid;
    width: 100%;
    grid-template-rows: auto auto auto auto;
    .section__activity{
        background-color: $color-primary;
    }
    .class__container{
        display: grid;
        height: auto;
        grid-template-columns: auto auto auto;
        grid-template-rows: 1f 1f;
        row-gap: 30px;
        column-gap: 60px;
        margin-bottom: 5%;
        margin-left: 3%;
        margin-right: 3%;
        .articleGym{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            box-shadow: 2px 5px 7px 3px ;
            margin: 20% 0 0 3%;
            h2{
                font-size: 40px;
                margin:10px 0 20px 0;
            }
            button{
                font-size: 20px;
                font-style:italic;
                width: 150px;
                height: 50px;
                color: $color-secondary;
                background-color: $color-secondary;
                color: rgb(0, 0, 0);
                border: none;
                cursor: pointer;
                border-radius: 50px;
                margin-top: 2%;
                margin-bottom: 5%;
            }
            img{
                width: 350px;
                height: 400px;
                border-radius: 5%;
                margin-bottom: 20px;
            }
            p{
                font-size: 20px;
                padding: 0 8px 0 8px;
            }
        }
        .articleGym:hover{
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
        }
        .articleGym:not(hover){
            transition: transform 0.3s ease-in-out;
        }
        .articleGym{
            view-timeline-name: --image;
            view-timeline-axis: block;

            animation-timeline: --image;
            animation-name: show;

            animation-range: entry 25% cover 50%;
            animation-fill-mode: both;
        }
        .main__fixed{
            position: fixed;
            right: 30px;
            top: 300px;
            border-radius: 100%;
            z-index: 3;
            img{
                width: 90px;
            }
            filter: invert(50%);
        }
        @include xl{
            grid-template-columns: auto auto;
        }
        @include l{
            grid-template-columns: auto auto;
            .articleGym h2{
                font-size: 27px;
            }
            .articleGym img{
                width: 250px;
                height: 300px;
            }
            .articleGym p{
                font-size: 15px;
            }
            .articleGym button{
                font-size: 15px;
                width: 100px;
                height: 40px;
            }
        }
        @include m{
            grid-template-columns: auto;
            .articleGym h2{
                font-size: 27px;
            }
            .articleGym img{
                width: 300px;
                height: 350px;
            }
            .articleGym p{
                font-size: 17px;
            }
            .articleGym button{
                font-size: 20px;
                width: 130px;
                height: 50px;
            }
            .articleGym{
                margin: 20px 20px 20px 20px;
            }
        }
        @include s{
            grid-template-columns: auto;
            .articleGym h2{
                font-size: 20px;
            }
            .articleGym img{
                width: 250px;
                height: 300px;
            }
            .articleGym p{
                font-size: 13px;
            }
            .articleGym button{
                font-size: 15px;
                width: 80px;
                height: 40px;
            }
            .articleGym{
                margin: 40px 20px 40px 20px;
            }
            .main__fixed img{
                width: 60px;
            }
        }
    }
}