.main__index{
    display: grid;
    width: 100%;
    grid-template-rows: auto auto auto 140px;
}
.main__title{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    img{
        width: 25%;
    }
    h1{
        font-size: 90px;
        background-color: $background-title;
        color: $color-text;
        padding: 3% 10% 3% 10%;
    }
}
.main__section2{
    background-color: $color-primary;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    p{
        font-size: 35px;
        line-height: 1.7;
    }
    button{
        font-size: 35px;
        font-style:italic;
        width: 300px;
        height: 80px;
        color: $color-secondary;
        padding: 10px 20px;
        background-color: $color-secondary;
        color: rgb(0, 0, 0);
        border: none;
        cursor: pointer;
        border-radius: 50px;
        margin-top: 2%;
        margin-bottom: 5%;
    }
    .main__activity h2{
        font-size: 40px;
    }
    .main__fixed{
        position: fixed;
        right: 30px;
        top: 300px;
        border-radius: 100%;
        z-index: 3;
        img{
            width: 90px;
        }
    }     
}
.main__footer{
    background-color: rgba(255, 79, 202, 0.658);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "footer__redes footer__iconos"
    "footer__copyright footer__copyright"
    ;
    justify-content: space-between;
    h3{
        font-size: 20px;
        font-family: Arial, sans-serif;
        color: $color-primary;
    }
    p{
        color: $color-primary;
        font-size: 15px;
    }
    .main__redes{
        grid-area: footer__redes;
    }
    .main__iconos{
        grid-area: footer__iconos;
        display: flex;
        align-items:flex-end;
        flex-direction: column;
    }
    li{
        list-style: none;
    }
    .main__copyright{
        grid-area: footer__copyright;
        justify-content: end;
    }   
}