.main__index{
    display: grid;
    width: 100%;
    grid-template-rows: auto auto auto 140px;
    &__title{
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
        &__title img{
            width: 25%;
        }
        &__h1{
            font-size: 90px;
            background-color:$background-title;
            color:$color-text;
            padding: 3% 10% 3% 10%;
        }
    }
    &__section2{
        background-color: #131518;
        padding-top: 2%;
        padding-bottom: 2%;
        text-align: center;
        &__activity p{
            font-size: 35px;
            line-height: 1.7;
        }
        &__activity button{
            
        }
    }
}